<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secretary Dashboard</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/booking-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<!--Navigation bar-->
<div class="topnav" style="height: 100px;" >
    <ul>
        <li><a href="/secretary">Dashboard</a></li>
        <li style="float:right;"><a href="/"><img src="https://i.ibb.co/VMQ8rtj/corona-prevention-logo.png" alt="Corona Prevention Division" class="logo" style="height: 30px; margin: 0px 0px 0px 0px; "/></a></li>
        <li style="float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;">Patient Site:</li>
    </ul>
    <div class="nav-shadow"></div>
</div>
<div style="height: 75px;"></div>
<!--Dashboard-->
<div class="booking-content" style="width: 85%;">
    <h1 class="title" style="margin-bottom: 0px; margin-top: 20px;">Secretary Dashboard</h1>
    <div class="search-and-center">
        <div class="search"><input type="text" maxlength="10" name="CPR" placeholder="Search by CPR..." style="height: 35px; font-family: Roboto, Helvetica, serif; font-size: 20px; border: 2px solid #AFAFAF;
    border-radius: 10px;" >
        </div>
        <div class="center">
            <form th:action="@{/secretary}" th:method="post">
                <select id="select-google-maps" class="elegant-border center-content select" name="center" style="width:400px;
                height:40px;">
                    <option value="null" selected disabled>Select a center...</option>
                    <option th:data="${center.getCenterID()}" th:value="${center.getCenterID()}" th:each="center:${centerList}" th:text="${center.address}">
                    </option>
                </select>
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>

    <div class="table-container" style="display: flex; justify-content: center;">
        <form action="#" th:action="@{/secretary}" th:method="post" >
            <table id="appointment-table" class="styled-table" style="padding: 20px; width: 80%;">
                <thead class="styled-table-header">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>CPR</th>
                </tr>
                </thead>
                <tbody>
<!--                <th:block>-->
<!--                    <tr th:if="${#lists.isEmpty(appointmentList)}">-->
<!--                        <td colspan="5">No appointments to show... Select a center!</td>-->
<!--                    <tr th:each="appointment : ${appointmentList}">-->
<!--                        <td th:text="${appointment.appointment_id}"></td>-->
<!--                        <td th:text="${appointment.result}"></td>-->
<!--                        <td th:text="${appointment.date}"></td>-->
<!--                        <td th:text="${appointment.time}"></td>-->
<!--                        <td th:text="${appointment.patient.getCPR()}"></td>-->
<!--                        <td>-->
<!--                            <button class="small-cta" type="submit" name="centerid" th:value="${appointment.appointment_id}">Save Changes</button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </th:block>-->

                </tbody>
            </table>
        </form>
    </div>
              <div id="stuff"> </div>
    <footer class="footer">© Copyright Corona prevention division, All rights reserved 2021</footer>

    <script>

        const select = document.getElementById('select-google-maps');
        let selectedCenter = "";


            select.addEventListener('change', handleChange);

            function handleChange(e){
                const id = e.target[this.selectedIndex].value
                console.log(id);
                       updateCenter(id);
                selectedCenter = selectedCenter+id;
            }

        //            function updateCenter() {
        //                document.getElementById("input-centerid").value = selectedCenter;
        //                window.location.replace("localhost:9090/secretary/appointments?="+selectedCenter);
        //            }
        //             document.getElementById("select-google-maps").addEventListener(updateCenter))
        function updateCenter(centerid){
            // selectedCenter = [].filter.call(document.querySelectorAll('center.option'), (e) => e.selected)[0].value;
            // document.getElementById("input-centerid").value = selectedCenter;

            let appointments = [];

            console.log(centerid)

            $.ajax({
                url: '/get-center-appointments',
                type: 'post',
                data: {centerid:centerid},
                success: function (response) {

                    let table = document.getElementById("appointment-table");
                    console.log(response.length);
                    $("#appointment-table tr").remove();

                    for(let i = 0; i < response.length; i++){
                        console.log(response[i]);
                        try {
                            let tr = document.createElement("tr");
                            // let td = document.createElement("td");
                            //create all tds for the values
                            let id = document.createElement("td");
                            id.innerHTML = response[i].appointment_id;


                            tr.appendChild(id);

                            table.appendChild(tr);
                        }catch(e) {console.log(e);}



                    }


                    // document.getElementById("stuff").innerHTML = response;
                }
            });

            console.log(appointments);

        }
        // fuction updateCPR(){
        //
        // }
    </script>
</body>
</html>