<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Secretary</title>
    <link rel="stylesheet" href="/booking-style.css">
</head>
<body>
<div class="topnav"></div>
<div class="appointment-table">
    <h2>Appointments</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Date</th>
            <th>Time</th>
            <th>CPR</th>
            <th>Center ID</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointmentList}">
            <td th:text="${appointment.appointment_id}"></td>
            <td th:text="${appointment.result}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.time}"></td>
            <td th:text="${appointment.patient.getCPR()}"></td>
            <td th:text="${appointment.center.getCenterID()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>