<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secretary Dashboard</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/booking-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

<!--Navigation bar-->
<div class="topnav" style="height: 100px;" >
    <ul>
        <li><a href="/secretary">Dashboard</a></li>
        <li style="float:right;"><a href="/"><img src="https://i.ibb.co/VMQ8rtj/corona-prevention-logo.png" alt="Corona Prevention Division" class="logo" style="height: 30px; margin: 0px 0px 0px 0px; "/></a></li>
        <li style="float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;">Patient Site:</li>
    </ul>
    <div class="nav-shadow"></div>
</div>
<div style="height: 75px;"></div>
<!--Dashboard-->
<div class="booking-content" style="width: 85%;">
    <h1 class="title" style="margin-bottom: 0px; margin-top: 20px;">Secretary Dashboard</h1>
    <div class="filter">
            <form id="filter">
<!--                part of form: th:action="@{/get-center-appointments}" th:method="post"-->
                <input th:valuetype="long" th:attr="name='cpr'" id="cpr-box" type="number" name="cpr" oninput="this.value=this.value.slice(0,10)" placeholder="Search by CPR..." style="height: 35px; font-family: Roboto, Helvetica, serif; font-size: 20px; border: 2px solid #AFAFAF;
    border-radius: 10px;" >
                <select id="select-google-maps" class="elegant-border center-content select" name="center" style="width:400px;
                height:40px;" required>
                    <option value="null" selected disabled>Select a center...</option>
                    <option value = "0">All centers</option>
                    <option th:data="${center.getCenterID()}" th:value="${center.getCenterID()}" th:each="center:${centerList}" th:text="${center.getCenterID()} +' - '+ ${center.address}">
                    </option>
                </select>
                <input id="display-booked" type="checkbox" name="booked-only" value="BOOKED"> Display today's BOOKED appointments only<br>
                <button id="filter-button" type="submit">Filter</button>
            </form>
        </div>
    </div>

    <div class="table-container" style="display: flex; justify-content: center;">
<!--         part of form: action="#" th:action="@{/get-center-appointments}" th:method="post" -->
        <form>
            <table id="appointment-table" class="styled-table" style="padding: 20px; width: 80%;">
                <thead class="styled-table-header">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>CPR</th>
                    <th>Center</th>
                </tr>
                </thead>
                <tbody id="appointment-table-body">
<!--                <th:block>-->
<!--                    <tr th:if="${#lists.isEmpty(appointmentList)}">-->
<!--                        <td colspan="5">No appointments to show...</td>-->
<!--                    <tr th:each="appointment : ${appointmentList}">-->
<!--                        <td th:text="${appointment.appointment_id}"></td>-->
<!--                        <td th:text="${appointment.result}"></td>-->
<!--                        <td th:text="${appointment.date}"></td>-->
<!--                        <td th:text="${appointment.time}"></td>-->
<!--                        <td th:text="${appointment.patient.getCPR()}"></td>-->
<!--                        <td>-->
<!--
<!--                        </td>-->
<!--                    </tr>-->
<!--                </th:block>-->

                </tbody>
            </table>
        </form>
    </div>

    <footer class="footer">© Copyright Corona prevention division, All rights reserved 2021</footer>

    <script th:inline="javascript">

        const filterForm = document.getElementById('filter');
        // let select = document.getElementById('select-google-maps');

            let inputCPR = 1111111111;
            let selectedCenter = null;
            let todaysBooked = false;

        //     filterForm.onsubmit = function() {
        //     document.getElementById('cpr-box').defaultValue = 1111111111;
        // }


            // $("#cpr-box").attr("value", 1111111111);


            filterForm.addEventListener('submit', handleSubmit);

            // filterForm.onsubmit(handleSubmit(e));

            function handleSubmit(event){

                if (document.getElementById('cpr-box').value !== "") {
                    inputCPR = document.getElementById('cpr-box').value;
                }
                else {
                    document.getElementById('cpr-box').defaultValue = 1111111111;
                    inputCPR = 1111111111;
                }

                selectedCenter =  $("#select-google-maps :selected").val();
                    // e.target[select.selectedIndex].value

                todaysBooked = document.getElementById('display-booked').checked;

                console.log(inputCPR);
                console.log(selectedCenter);
                console.log(todaysBooked);

                loadAppointments(inputCPR, selectedCenter, todaysBooked);

                event.preventDefault(); //so the whole page doesn't refresh

            }

        function loadAppointments(cpr, centerid, booked){

            let appointments = [];


            console.log(centerid)
            console.log(cpr)
            console.log(booked)

            try {

                $.ajax({
                    url: 'get-center-appointments',
                    type: 'post',
                    data: {cpr: cpr, centerid: centerid, booked: booked},
                    success: function (response) {

                        appointments = response;

                        let table = document.getElementById("appointment-table");
                        let tableBody = document.getElementById("appointment-table-body");

                        console.log(response.length);

                        $("#appointment-table-body tr").remove();

                        for (let i = 0; i < appointments.length; i++) {
                            console.log(appointments[i]);
                            try {
                                let tr = document.createElement("tr");

                                let currentID = appointments[i].appointment_id;

                                let app_id = document.createElement("td");
                                app_id.innerHTML = currentID;
                                let app_status = document.createElement("td");

                                let appointmentDate = new Date(appointments[i].date);
                                let today = new Date();

                                console.log(appointmentDate);
                                console.log(today);

                                if (appointmentDate.getDate() <= today.getDate() && appointments[i].result === "BOOKED") {

                                    let statusSelect = document.createElement("select");
                                    statusSelect.id = "status-select";

                                    let defaultOption = document.createElement("option");
                                    defaultOption.value = null;
                                    defaultOption.text = appointments[i].result;

                                    statusSelect.append(defaultOption);

                                    if (appointments[i].center.centerType === "PCR_TEST") {

                                        const testOptions = ["MISSED", "POSITIVE", "NEGATIVE", "INCONCLUSIVE"];

                                        for (let i = 0; i < testOptions.length; i++) {
                                            let option = document.createElement("option");
                                            option.value = testOptions[i];
                                            option.text = testOptions[i];
                                            statusSelect.appendChild(option);
                                        }

                                    }

                                    else if (appointments[i].center.centerType === "COMIRNATY_VACCINE" || appointments[i].center.centerType === "MODERNA_VACCINE") {

                                        /*<![CDATA[*/

                                        let partialVaccineList = /*[[${vaccinatedList}]]*/ 'default';

                                        /*]]>*/

                                        console.log(partialVaccineList);

                                        let vaccinated = false;
                                        for (let i = 0; i < partialVaccineList.length; i++) {
                                            if (partialVaccineList[i].cpr === appointments[i].patient.cpr) {
                                                vaccinated = true;
                                                break;
                                            }
                                        }

                                        let option = document.createElement("option");
                                        option.value = vaccinated ? "VACCINATED" : "PARTIAL_VACCINE";
                                        option.text = vaccinated ? "VACCINATED" : "PARTIAL_VACCINE";

                                        statusSelect.appendChild(option);

                                    }

                                    app_status.appendChild(statusSelect);



                                }
                                else {
                                    app_status.innerHTML = appointments[i].result;
                                }


                                let app_date = document.createElement("td");
                                app_date.innerHTML = appointments[i].date;
                                let app_time = document.createElement("td");
                                app_time.innerHTML = appointments[i].time;
                                let app_cpr = document.createElement("td");
                                app_cpr.innerHTML = appointments[i].patient.cpr;
                                let app_center = document.createElement("td");
                                app_center.innerHTML = appointments[i].center.centerID;

                                tr.appendChild(app_id);
                                tr.appendChild(app_status);
                                tr.appendChild(app_date);
                                tr.appendChild(app_time);
                                tr.appendChild(app_cpr);
                                tr.appendChild(app_center);

                                tableBody.appendChild(tr);

                            } catch (e) {
                                console.log(e);
                            }
                        }

                        document.getElementById('cpr-box').value = "";
                        // let selectedResult = document.getElementById('status-select').options[statusSelect.selectedIndex].value;
                        // let selectedResult = statusSelect.options[statusSelect.selectedIndex].value;
                        // // statusSelect.value = appointments[i].appointment_id;
                        // statusSelect.onchange = $.ajax({
                        //     url: 'update-appointment-report',
                        //     type: 'post',
                        //     data: {currentID: currentID, selectedResult: selectedResult}
                        // });

                        //try making it work on change

                        // const saveButton = document.createElement("button");
                        // saveButton.className = "small-cta";
                        // saveButton.type = "submit";
                        // saveButton.name = "centerid";
                        // saveButton.value = response.appointment_id";
                        // saveButton.innerText = "Save Changes";
                        //
                        // table.appendChild(saveButton);


                    }
                })

            }catch (e) {
                console.log(e)
            }

            console.log(appointments);

        }
    </script>
</body>
</html>