@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Roboto Slab, serif, Helvetica;
    background-color: #EFEFEF;
}

/* HEADER: */
.title {
    color: black;
    margin: 30px 0px;
    padding-top: 30px;
    text-align: center;
}

/* NAVBAR: */
.topnav {
    font-family: Oxanium, serif, Helvetica;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-shadow{
    height: 15px !important;
    width: 100%;
    overflow: hidden;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(120,120,120,0.5) 100%);
}

.topnav li {
    height: auto;
    display: inline;
    float: left;
    vertical-align: middle;
    margin: 10px;
}

.topnav ul {
    overflow: hidden;
    background-color: white;
    width: auto;
}

/* Navbar links */
.topnav a {
    /*float: left;*/
    display: block;
    color: black;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
}

.topnav .logo {
    width: auto;
    height: 40px;
    margin: 5px 5px 0px 5px;
}

/*this is not working :-( */
.topnav a.active {
    color: #FF6219;
    text-decoration: underline;
}

/* Links - change color on hover */
.topnav a:hover:not(.active) {
    color: #FF6219;
}

.contents {
    margin-left: 30px;
    margin-right: 30px;
}
/* CONTENTS HEADER: */
.contents h2 {
    margin-top: 100px;
}

.booking-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    margin-bottom: 50px;
}

.footer {
    background-color: #95918f;
    height: auto;
    color: white;
    font-family: "Roboto Slab", serif, Verdana;
    text-align: center;
    width: 100%;
    padding: 40px 0px;
}

.search-and-center {
    font-family: "Roboto Slab", serif, Roboto, Verdana;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

/*VISUALS*/

.pearl {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    /*background-color: #FF6219;*/
    background-image: radial-gradient(#e04c02, #FF6219);
    text-align: center;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.pearl h1 {
    font-size: 60px;
    vertical-align: center;
}

td.string {
    display: flex;
    align-content: stretch;
}

div.string {
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    border-left: 5px dashed #AFAFAF;
}

/*SELECT*/
select#select-google-maps {
    width: 600px;
    height: 50px;
    font-family: Roboto, Helvetica, serif;
    font-size: 20px;
}

.elegant-border {
    border: 2px solid #AFAFAF;
    border-radius: 10px;
}

.picture-background {
    background-image: url("https://i.ibb.co/Ht3FmDp/pexels-pixabay-33397.jpg");
    background-size: cover;
}

.accent-border {
    border: 3px solid #FF6219;
    border-radius: 10px;
}

.center-content {
    display: flex;
    justify-content: center;
}

/*CALENDAR*/
#calendar {
    width: 80%;
    height: 450px;
    background-color: #f8f8f8;
    color: black;
    border-radius: 0px 0px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

#calendar td {
    width: 14%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    /*border: 1px solid white;*/
    margin: 0;
}

#calendar td:hover {
    background-color: #F0F0F0;
}

#calendar-header {
    margin-top: 30px;
    background-color: #FF6219;
    width: 80%;
    height: 50px;
    color: white;
    font-family: Oxanium, serif, Helvetica;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}

#calendar thead {
    height: 30px;
}

#calendar-header .but {
    background-color: #FF6219;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: inherit;
    color: white;
    font-family: Oxanium, serif, Helvetica;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}

#calendar-selected {
    margin: 15px;
}

/*TIMES*/

#times-box {
    min-height: 50px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 50px 0px;
}

.times {
    height: 60px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #AFAFAF;
    background-color: #FAFAFA;
    color: black;
}

#calendar td.selected {
    border: 1px solid #1cbe00;
    background-color: #d9ffd2;
}

.disabled {
    color: #BFBFBF;
}

#calendar p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    line-height: 15px;
}

#calendar i {
    font-size: 9px;
    height: 20px;
}

.times.selected {
    border: 2px solid #1cbe00;
    background-color: #d9ffd2;
}

.times h4 {
    color: #595959;
}

.times h2 {
    float: right;
    padding-top: 10px;
}

/*FORM*/
.booking-form {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Slab", serif, Roboto, Verdana;
    font-size: 24px;
}

.booking-form label {
    width: 40%;
    margin: 10px auto;
}

.booking-form .single-input {
    display: flex;
    justify-content: space-between;
}

.booking-form input {
    width: 60%;
    font-size: 24px;
    margin: 10px auto;
}

.cta {
    height: auto;
    font-family: Oxanium, serif, Helvetica;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #FF6219;
    border-radius: 10px;
    padding: 14px 20px;
    border: none;
}

#hero {
    height: 100vh;
    width: 100%;
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    justify-content-content: space-between;
    background-image: url("https://i.ibb.co/Ht3FmDp/pexels-pixabay-33397.jpg");
    background-size: cover;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
}

.hero-subcontent {
    text-align: center;
}

.view-block {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.admin-view-block {
    width: 45%;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.view-block h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-family: Oxanium;
}

.view-block p {
    margin-bottom: 50px;
    color: black;
}

.view-block button.cta {
    color: black;
    background-color: white;
    width: 50%;
    display: flex;
    justify-self: center;
}

#hero h4 {
    font-weight: 300;
    color: white;
}

/*INFO*/

.info {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

/*ADMIN*/

#select-center-admin {
    width: 100%;
    height: 50px;
    font-family: Roboto, Helvetica, serif;
    font-size: 20px;
    border-radius: 10px;
}

.select-center-type {
    width: 100%;
    height: 50px;
    font-family: Roboto, Helvetica, serif;
    font-size: 20px;
    border-radius: 10px;
}

.work-day {
    background-color: #FAFAFA;
    margin: 20px;
    padding: 20px;
}

.work-day div {
    display: inline;
    font-size: 20px;

}

.work-day div input {
    font-size: 20px;
    margin: 10px;
}

.small-cta {
    font-family: "Roboto Slab", serif, Verdana;
    font-weight: normal;
    font-size: 18px;

    color: white;
    background-color: #FF6219;

    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: none;
}

.styled-table {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #AFAFAF;
    background-color: #FAFAFA;
}

.styled-table table {
    width: 100%;
}

.styled-table-header{
    font-size: 20px;
    padding: 20px;
    border: 2px solid #AFAFAF;
}