<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SARS-CoV-2 PCR test</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="/booking-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/permanent.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                minDate: 1,
                maxDate: "+1m"
            });
        } );
        // Something like this will deactivate certain dates depending on the center capacity! ->
        // $('input').datepicker({
        //     beforeShowDay: function(date){
        //         var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
        //         return [$.inArray(string, array) == -1];
        //     }
        // });
    </script>
</head>
<body>
<!--nav bar:-->
<div class="topnav"></div>
    <!--Header-->
    <div>
        <h1>
            Book a PCR test
        </h1>
    </div>

    <!--Select test center-->
    <div>
        <h2>Select a test center</h2>
        <select name="test-center-dropdown">
            <option th:each="testCenter : ${testCenters}" th:value="${testCenter.address}" th:text="${testCenter.address}">
            </option>
        </select>
    </div>

    <!--Select date and time-->
    <div>
        <h2>Pick a date</h2>
        <p>Date: <input type="text" id="datepicker"></p>
        <h2>Pick a time</h2>
        <select name="times-dropdown">
<!--            <option th:each="testCenter : ${testCenters}" th:value="${testCenter.address}" th:text="${testCenter.address}">-->
<!--            </option>-->
        </select>
    </div>

    <!--Enter credentials-->
    <div>
        <h2>Enter your email</h2>
        <form id="credentials" method="post">
            <input name="email" type="text" autocomplete="email">
            <input type="submit" value="Submit">
<!-- then it will ask "Is this your CPR? if we have it in the DB or additional info if we don't-->
        </form>
    </div>

</body>
</html>