<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book a test</title>
</head>
<body>
    <!--Header-->
    <div>
        <h1>
            Header
        </h1>
    </div>

    <!--Select center-->
    <div>
        <form th:action="@{/book-a-test}">
            <select name="centerid">
    <!--            <option th:text="Please select a center..."></option>-->
                <option th:each="center : ${centers}" th:value="${center.centerID}" th:text="${center.address}">
                </option>
            </select>
            <button type="submit">Select center</button>
        </form>

        <!--Google Maps Embed-->
        <div style="margin:20px;">
            <iframe th:src="${googleMapsLink}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!--Select date and time-->
    <div></div>

    <!--Enter credentials-->
    <div></div>

</body>
</html>