<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book a test</title>
</head>
<body>
    <!--Header-->
    <div>
        <h1>
            Header
        </h1>
    </div>

    <!--Select test center-->
    <div>
        <select name="test-center-dropdown">
            <option th:each="testCenter : ${testCenters}" th:value="${testCenter.address}" th:text="${testCenter.address}">
            </option>
        </select>
    </div>

    <!--Select date and time-->
    <div></div>

    <!--Enter credentials-->
    <div></div>

</body>
</html>